<!-- <div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div> -->
<div class="modal-body p-0 m-0 main-border">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12 mt-2">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 pt-2">
                <span class="text-uppercase font-weight-bold"
                  >Filters
                  <ng-container *ngIf="filtersCount.TotalCount > 0"
                    >({{ filtersCount.TotalCount }})</ng-container
                  ></span
                >
              </div>
              <div class="col-md-6 text-right">
                <button
                  type="button"
                  class="btn btn-link mr-2 clear-all-button font-weight-bold"
                  (click)="clearAll()"
                >
                  Clear
                </button>
              </div>
            </div>

            <div class="row m-2">
              <div
                class="col-12 border p-2"
                style="height:75px; overflow-y: scroll;"
              >
                <h5>
                  <span
                    class="
                      badge badge-secondary
                      mr-2
                      tag-item
                      border
                      rounded
                      font-weight-normal
                    "
                    *ngFor="let item of selectedFilters"
                  >
                    <span
                      (click)="removeSingleFilter(item.Type, item.Value)"
                      style="cursor: pointer"
                      class="custom-blue-color font-weight-light"
                      >X</span
                    >
                    {{ item.Value }}</span
                  >
                </h5>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-12">
            <div class="row">
              <!-- left panel -->
              <div class="col-5 col-md-5">
                <div class="row">
                  <div
                    class="col-12 col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    [ngClass]="
                      selectedSection === 'storeType'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    View *
                  </div>
                  <!-- enrollment year -->
                  <div
                    class="col-12 col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    [ngClass]="
                      selectedSection === 'enrollmentYear'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Enrollment Year *
                  </div>

                  <!-- program name -->
                  <div
                    class="col-12 col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    [ngClass]="
                      selectedSection === 'programName'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Program Name
                  </div>

                  <!-- contract number -->
                  <div
                    class="col-12 col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    [ngClass]="
                      selectedSection === 'contractNumber'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Contract Number
                  </div>

                  <!-- distributor Name -->
                  <div
                    class="col-12 col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    [ngClass]="
                      selectedSection === 'distributorName'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Distributor Name
                  </div>

                  <!-- Enrolled By -->
                  <div
                    class="col-12 col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    [ngClass]="
                      selectedSection === 'enrolledBy'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Enrolled By
                  </div>

                  <!-- Enrollment Id -->
                  <div
                    class="col-12 col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    [ngClass]="
                      selectedSection === 'enrollmentId'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Enrollment ID
                  </div>

                  <!-- Enrollment Status -->
                  <div
                    class="col-12 col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    [ngClass]="
                      selectedSection === 'enrollmentStatus'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Enrollment Status
                  </div>

                  <!-- heading Payto-->
                  <div class="col-md-12 p-1 pl-2 mb-1 text-left sectionHeading">
                    PayTo Information
                  </div>

                  <!-- payto name -->
                  <div
                    class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    (click)="OnRegionClick()"
                    [ngClass]="
                      selectedSection === 'payToName'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Name<span
                      class="
                        float-right
                        pr-2
                        custom-blue-color
                        font-weight-bold
                      "
                      *ngIf="filtersCount.Region > 0"
                      >{{ filtersCount.PayToName }}</span
                    >
                  </div>

                  <!-- payto name -->
                  <div
                    class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    (click)="OnRegionClick()"
                    [ngClass]="
                      selectedSection === 'payToAddress'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Address<span
                      class="
                        float-right
                        pr-2
                        custom-blue-color
                        font-weight-bold
                      "
                      *ngIf="filtersCount.Region > 0"
                      >{{ filtersCount.PayToAddress }}</span
                    >
                  </div>

                  <!-- payto city -->
                  <div
                    class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    (click)="OnRegionClick()"
                    [ngClass]="
                      selectedSection === 'payToCity'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    City<span
                      class="
                        float-right
                        pr-2
                        custom-blue-color
                        font-weight-bold
                      "
                      *ngIf="filtersCount.Region > 0"
                      >{{ filtersCount.PayToCity }}</span
                    >
                  </div>

                  <!-- payto State -->
                  <div
                    class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    (click)="OnRegionClick()"
                    [ngClass]="
                      selectedSection === 'payToState'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    State<span
                      class="
                        float-right
                        pr-2
                        custom-blue-color
                        font-weight-bold
                      "
                      *ngIf="filtersCount.Region > 0"
                      >{{ filtersCount.PayToState }}</span
                    >
                  </div>

                  <!-- payto zip -->
                  <div
                    class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    (click)="OnRegionClick()"
                    [ngClass]="
                      selectedSection === 'payToZip'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Zip<span
                      class="
                        float-right
                        pr-2
                        custom-blue-color
                        font-weight-bold
                      "
                      *ngIf="filtersCount.Region > 0"
                      >{{ filtersCount.PayToZip }}</span
                    >
                  </div>

                  <!-- heading location-->
                  <div
                    class="
                      col-md-12
                      p-1
                      pl-2
                      mb-1
                      text-left
                      sectionHeading
                      text-uppercase
                    "
                  >
                    Location
                  </div>

                  <!-- region -->
                  <div
                    class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    (click)="OnRegionClick()"
                    [ngClass]="
                      selectedSection === 'region'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Region<span
                      class="
                        float-right
                        pr-2
                        custom-blue-color
                        font-weight-bold
                      "
                      *ngIf="filtersCount.Region > 0"
                      >{{ filtersCount.Region }}</span
                    >
                  </div>
                  <!-- area -->
                  <div
                    class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    (click)="OnAreaClick()"
                    [ngClass]="
                      selectedSection === 'area'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Area
                    <span
                      class="
                        float-right
                        pr-2
                        custom-blue-color
                        font-weight-bold
                      "
                      *ngIf="filtersCount.Area > 0"
                    >
                      {{ filtersCount.Area }}
                    </span>
                  </div>
                  <!-- territory -->
                  <div
                    class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    (click)="OnTerritoryClick()"
                    [ngClass]="
                      selectedSection === 'territory'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Territory<span
                      class="
                        float-right
                        pr-2
                        custom-blue-color
                        font-weight-bold
                      "
                      *ngIf="filtersCount.Territory > 0"
                      >{{ filtersCount.Territory }}</span
                    >
                  </div>

                  <!-- heading -->
                  <div
                    class="
                      col-md-12
                      p-1
                      pl-2
                      mb-1
                      text-left
                      sectionHeading
                      text-uppercase
                    "
                  >
                    Other HIERARCHY
                  </div>

                  <div
                    class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    [ngClass]="
                      selectedSection === 'enrolledBy'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Enrolled By
                  </div>
                  <div
                    class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    [ngClass]="
                      selectedSection === 'distributor'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Distributor
                  </div>

                  <div
                    class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                    [ngClass]="
                      selectedSection === 'chain'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Chain
                  </div>
                </div>
              </div>
              <div class="col-7 col-md-7">
                <div class="row mt-3">
                  <div class="col-md-8 mt-0 mb-0 mr-0 pt-0 pb-0 pr-0">
                    <input
                      type="text"
                      class="mb-2 form-control"
                      [value]="itemSearched"
                      placeholder="Search"
                      (input)="onSearchChange($event.target.value)"
                      style="background-color:#f8f8f8; border:0; border-radius:0"
                    />
                  </div>
                  <div class="col-md-4 mt-0 mb-0 mr-0 pt-0 pb-0 pr-0">
                    <button type="button" class="btn btn-primary">ADD</button>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12 pr-4">
                        <div class="row" [ngStyle]="getPrimaryDataHeight()">
                          <ng-container
                            *ngIf="selectedSectionType != 'SalesHierarchy'"
                          >
                            <div
                              class="col-md-12 mb-1 section-array-div"
                              *ngFor="let item of afterSearch"
                            >
                              <div
                                (click)="checkBoxEvent(item.Flag, item.Value)"
                                [ngClass]="
                                  item.Flag
                                    ? 'font-weight-bold selectedSection p-1 pl-2'
                                    : 'font-weight-normal p-1 pl-2'
                                "
                              >
                                <input type="checkbox" [checked]="item.Flag" />
                                {{ item.Text }}
                              </div>
                            </div>
                          </ng-container>

                          <ng-container
                            *ngIf="selectedSectionType == 'SalesHierarchy'"
                          >
                            <div
                              class="col-md-12 mb-1 section-array-div"
                              *ngFor="let item of afterSearch"
                            >
                              <div
                                (click)="radioButtonEvent(true, item.Value)"
                                [ngClass]="
                                  item.Flag
                                    ? 'font-weight-bold selectedSection p-1 pl-2'
                                    : 'font-weight-normal p-1 pl-2'
                                "
                              >
                                <input
                                  type="radio"
                                  [value]="item.Flag"
                                  [checked]="item.Flag"
                                />
                                {{ item.Text }}
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="showData">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5 mr-4">
                Primary Dropdown Data
                <table border="1">
                  <tr>
                    <th>Value</th>
                    <th>Text</th>
                    <th>Flag</th>
                  </tr>
                  <tr *ngFor="let item of primaryDdlData">
                    <td>{{ item.Value }}</td>
                    <td>{{ item.Text }}</td>
                    <td
                      [ngStyle]="{
                        color: item.Flag === true ? 'green' : 'red'
                      }"
                    >
                      {{ item.Flag }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-3 mr-4">
                Region
                <table border="1">
                  <tr>
                    <th>Value</th>
                    <th>Text</th>
                    <th>Flag</th>
                  </tr>
                  <tr *ngFor="let item of regions">
                    <td>{{ item.Value }}</td>
                    <td>{{ item.Text }}</td>
                    <td
                      [ngStyle]="{
                        color: item.Flag === true ? 'green' : 'red'
                      }"
                    >
                      {{ item.Flag }}
                    </td>
                  </tr>
                </table>
              </div>

              <div class="col-3 mr-2">
                Area
                <table border="1">
                  <tr>
                    <th>Value</th>
                    <th>Text</th>
                    <th>Flag</th>
                  </tr>
                  <tr *ngFor="let item of areas">
                    <td>{{ item.Value }}</td>
                    <td>{{ item.Text }}</td>
                    <td
                      [ngStyle]="{
                        color: item.Flag === true ? 'green' : 'red'
                      }"
                    >
                      {{ item.Flag }}
                    </td>
                  </tr>
                </table>
              </div>

              <div class="col-4 mr-2">
                Territory
                <table border="1">
                  <tr>
                    <th>Value</th>
                    <th>Text</th>
                    <th>Flag</th>
                  </tr>
                  <tr *ngFor="let item of territories">
                    <td>{{ item.Value }}</td>
                    <td>{{ item.Text }}</td>
                    <td
                      [ngStyle]="{
                        color: item.Flag === true ? 'green' : 'red'
                      }"
                    >
                      {{ item.Flag }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row border-top pt-3 pb-3 pr-1">
          <div class="col-md-12 text-right">
            <button
              type="button"
              class="btn btn-link mr-2 custom-text-color"
              (click)="cancel()"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-primary ml-2 text-uppercase"
              style="background-color: #06597a;"
              (click)="ApplyFilter()"
            >
              Apply
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="modalOk()"
  >
    Ok
  </button>
</div> -->
