<!-- <div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div> -->
<div class="modal-body p-0 m-0 main-border">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12 mt-2">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 pt-2">
                <span class="text-uppercase font-weight-bold"
                  >Filters
                  <ng-container *ngIf="filtersCount.TotalCount > 0"
                    >({{ filtersCount.TotalCount }})</ng-container
                  ></span
                >
              </div>
              <div class="col-md-6 text-right">
                <button
                  type="button"
                  class="btn btn-link mr-2 clear-all-button font-weight-bold"
                  (click)="clearAll()"
                >
                  Clear
                </button>
              </div>
            </div>
            afterSearch

            <div class="row m-2">
              <div
                class="col-12 border p-2"
                style="height:75px; overflow-y: scroll;"
              >
                <h5>
                  <span
                    class="
                      badge badge-secondary
                      mr-2
                      tag-item
                      border
                      rounded
                      font-weight-normal
                    "
                    *ngFor="let item of selectedFilters"
                  >
                    <span
                      (click)="removeSingleFilter(item.Type, item.Value)"
                      style="cursor: pointer"
                      class="custom-blue-color font-weight-light"
                      >X</span
                    >
                    {{ item.Value }}</span
                  >
                </h5>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-12">
            <div class="row">
              <!-- left panel -->
              <div class="col-5 col-md-5 border-right">
                <div class="row">
                  <div
                    class="col-12 col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                    (click)="changeSelection('view')"
                    [ngClass]="
                      selectedSection === 'view'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    View *
                  </div>
                  <!-- enrollment year -->
                  <div
                    class="col-12 col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                    (click)="changeSelection('enrollmentYear')"
                    [ngClass]="
                      selectedSection === 'enrollmentYear'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Enrollment Year *
                  </div>

                  <!-- program name -->
                  <div
                    class="col-12 col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                    (click)="changeSelection('programName')"
                    [ngClass]="
                      selectedSection === 'programName'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Program Name
                  </div>

                  <!-- contract number -->
                  <div
                    class="col-12 col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                    (click)="changeSelection('contractNumber')"
                    [ngClass]="
                      selectedSection === 'contractNumber'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Contract Number
                  </div>

                  <!-- distributor Name -->
                  <div
                    class="col-12 col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                    (click)="changeSelection('distributorName')"
                    [ngClass]="
                      selectedSection === 'distributorName'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Distributor Name
                  </div>

                  <!-- Enrolled By -->
                  <div
                    class="col-12 col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                    (click)="changeSelection('enrolledBy')"
                    [ngClass]="
                      selectedSection === 'enrolledBy'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Enrolled By
                  </div>

                  <!-- Enrollment Id -->
                  <div
                    class="col-12 col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                    (click)="changeSelection('enrollmentId')"
                    [ngClass]="
                      selectedSection === 'enrollmentId'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Enrollment ID
                  </div>

                  <!-- Enrollment Status -->
                  <div
                    class="col-12 col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                    (click)="changeSelection('enrollmentStatus')"
                    [ngClass]="
                      selectedSection === 'enrollmentStatus'
                        ? 'font-weight-bold selectedSection'
                        : 'font-weight-normal'
                    "
                  >
                    Enrollment Status
                  </div>

                  <!-- heading Payto-->

                  <div
                    class="col-12 col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                    (click)="expansion_payto = !expansion_payto"
                  >
                    PayTo Information
                  </div>
                  <div class="row pl-4" *ngIf="expansion_payto">
                    <!-- payto name -->
                    <div
                      class="col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                      (click)="changeSelection('payToName')"
                      [ngClass]="
                        selectedSection === 'payToName'
                          ? 'font-weight-bold selectedSection'
                          : 'font-weight-normal'
                      "
                    >
                      Name<span
                        class="
                          float-right
                          pr-2
                          custom-blue-color
                          font-weight-bold
                        "
                        *ngIf="filtersCount.Region > 0"
                        >{{ filtersCount.PayToName }}</span
                      >
                    </div>

                    <!-- payto name -->
                    <div
                      class="col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                      (click)="changeSelection('payToAddress')"
                      [ngClass]="
                        selectedSection === 'payToAddress'
                          ? 'font-weight-bold selectedSection'
                          : 'font-weight-normal'
                      "
                    >
                      Address<span
                        class="
                          float-right
                          pr-2
                          custom-blue-color
                          font-weight-bold
                        "
                        *ngIf="filtersCount.Region > 0"
                        >{{ filtersCount.PayToAddress }}</span
                      >
                    </div>

                    <!-- payto city -->
                    <div
                      class="col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                      (click)="changeSelection('payToCity')"
                      [ngClass]="
                        selectedSection === 'payToCity'
                          ? 'font-weight-bold selectedSection'
                          : 'font-weight-normal'
                      "
                    >
                      City<span
                        class="
                          float-right
                          pr-2
                          custom-blue-color
                          font-weight-bold
                        "
                        *ngIf="filtersCount.Region > 0"
                        >{{ filtersCount.PayToCity }}</span
                      >
                    </div>

                    <!-- payto State -->
                    <div
                      class="col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                      (click)="changeSelection('payToState')"
                      [ngClass]="
                        selectedSection === 'payToState'
                          ? 'font-weight-bold selectedSection'
                          : 'font-weight-normal'
                      "
                    >
                      State<span
                        class="
                          float-right
                          pr-2
                          custom-blue-color
                          font-weight-bold
                        "
                        *ngIf="filtersCount.Region > 0"
                        >{{ filtersCount.PayToState }}</span
                      >
                    </div>

                    <!-- payto zip -->
                    <div
                      class="col-md-12 p-1 pl-4 mb-1 text-left sectionItem"
                      (click)="changeSelection('payToZip')"
                      [ngClass]="
                        selectedSection === 'payToZip'
                          ? 'font-weight-bold selectedSection'
                          : 'font-weight-normal'
                      "
                    >
                      Zip<span
                        class="
                          float-right
                          pr-2
                          custom-blue-color
                          font-weight-bold
                        "
                        *ngIf="filtersCount.Region > 0"
                        >{{ filtersCount.PayToZip }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-7 col-md-7">
                <div class="row mt-3">
                  <div class="col-8 mt-0 mb-0 mr-0 pt-0 pb-0 pr-0">
                    <input
                      type="text"
                      class="mb-2 form-control"
                      [(ngModel)]="addText"
                      placeholder="Search Term"
                      style="background-color:#f8f8f8; border:0; border-radius:0"
                    />
                  </div>
                  <div class="col-4 mt-0 mb-0 mr-0 pt-0 pb-0 pr-0">
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="addFilter()"
                      style="margin-top:3px;"
                    >
                      ADD
                    </button>
                  </div>
                  <div class="col-md-12 p-4">
                    <div class="row">
                      <div class="col-1"></div>
                      <div class="col-10">
                        Select an option from the left, then enter a search term
                        on the Search bar above.
                      </div>
                      <div class="col-1"></div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 pr-4">
                        <div
                          class="row"
                          [ngStyle]="getPrimaryDataHeight()"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row border-top pt-3 pb-3 pr-1">
          <div class="col-md-12 text-right">
            <button
              type="button"
              class="btn btn-primary text-uppercase"
              style="background-color: #06597a;"
              (click)="ApplyFilter()"
            >
              Search
            </button>

            <button
              type="button"
              class="btn btn-light ml-2 custom-text-color border"
              (click)="cancel()"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
