<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-2 main-border">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <span class="text-uppercase font-weight-bold">Filters (15)</span>
            </div>
            <div class="col-md-6 text-right">
              <button
                type="button"
                class="btn btn-link mr-2 clear-all-button font-weight-bold"
                (click)="clearAll()"
              >
                Clear
              </button>
            </div>
          </div>

          <div class="row m-2">
            <div class="col-12 border" style="height:80px; overflow-y: scroll;">
              <h5>
                <span
                  class="badge badge-secondary mr-1 ml-1"
                  *ngFor="let item of selectedFilters"
                  >{{ item }}</span
                >
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-12">
          <div class="row">
            <!-- left panel -->
            <div class="col-4 col-md-4">
              <div class="row">
                <div
                  class="col-12 col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                  [ngClass]="
                    selectedSection === 'storeType'
                      ? 'font-weight-bold selectedSection'
                      : 'font-weight-normal'
                  "
                >
                  Store Type
                </div>
                <!-- heading -->
                <div
                  class="
                    col-md-12
                    p-1
                    pl-2
                    mb-1
                    text-left
                    sectionHeading
                    text-uppercase
                  "
                >
                  GEOGRAPHICAL HIERARCHY
                </div>
                <!-- region -->
                <div
                  class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                  (click)="OnRegionClick()"
                  [ngClass]="
                    selectedSection === 'region'
                      ? 'font-weight-bold selectedSection'
                      : 'font-weight-normal'
                  "
                >
                  Region<span class="ml-1" *ngIf="filtersCount.region > 0"
                    >({{ filtersCount.region }})</span
                  >
                </div>
                <!-- area -->
                <div
                  class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                  (click)="OnAreaClick()"
                  [ngClass]="
                    selectedSection === 'area'
                      ? 'font-weight-bold selectedSection'
                      : 'font-weight-normal'
                  "
                >
                  Area<span class="ml-1" *ngIf="filtersCount.area > 0"
                    >({{ filtersCount.area }})</span
                  >
                </div>
                <!-- territory -->
                <div
                  class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                  (click)="OnTerritoryClick()"
                  [ngClass]="
                    selectedSection === 'territory'
                      ? 'font-weight-bold selectedSection'
                      : 'font-weight-normal'
                  "
                >
                  Territory<span class="ml-1" *ngIf="filtersCount.territory > 0"
                    >({{ filtersCount.territory }})</span
                  >
                </div>

                <!-- heading -->
                <div
                  class="
                    col-md-12
                    p-1
                    pl-2
                    mb-1
                    text-left
                    sectionHeading
                    text-uppercase
                  "
                >
                  Other HIERARCHY
                </div>

                <div
                  class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                  [ngClass]="
                    selectedSection === 'enrolledBy'
                      ? 'font-weight-bold selectedSection'
                      : 'font-weight-normal'
                  "
                >
                  Enrolled By
                </div>
                <div
                  class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                  [ngClass]="
                    selectedSection === 'distributor'
                      ? 'font-weight-bold selectedSection'
                      : 'font-weight-normal'
                  "
                >
                  Distributor
                </div>

                <div
                  class="col-md-12 p-2 pl-4 mb-1 text-left sectionItem"
                  [ngClass]="
                    selectedSection === 'chain'
                      ? 'font-weight-bold selectedSection'
                      : 'font-weight-normal'
                  "
                >
                  Chain
                </div>
              </div>
            </div>
            <div class="col-8 col-md-8">
              <div class="row mt-3">
                <div class="col-md-12">
                  <input
                    type="text"
                    class="mb-2 form-control"
                    [value]="itemSearched"
                    placeholder="Search"
                    (input)="onSearchChange($event.target.value)"
                    style="background-color:#f8f8f8; border:0; border-radius:0"
                  />
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 pr-4">
                      <div class="row" [ngStyle]="getPrimaryDataHeight()">
                        <div
                          class="col-md-12 mb-1 section-array-div"
                          *ngFor="let item of afterSearch"
                        >
                          <div
                            (click)="checkBoxEvent(item.flag, item.value)"
                            [ngClass]="
                              item.flag
                                ? 'font-weight-bold selectedSection p-1 pl-2'
                                : 'font-weight-normal p-1 pl-2'
                            "
                          >
                            <input type="checkbox" [checked]="item.flag" />
                            {{ item.text }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row mt-2">
        <div class="col-md-12">
          <button class="btn btn-danger" (click)="clearAll()">Clear</button>
        </div>

        <div class="col-md-12 mt-4">
          <button class="btn btn-link" (click)="showDataClick()">
            Check Data
          </button>
        </div>
      </div> -->

      <div class="row" *ngIf="showData">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 mr-4">
              Primary Dropdown Data
              <table border="1">
                <tr>
                  <th>Value</th>
                  <th>Text</th>
                  <th>Flag</th>
                </tr>
                <tr *ngFor="let item of primaryDdlData">
                  <td>{{ item.value }}</td>
                  <td>{{ item.text }}</td>
                  <td
                    [ngStyle]="{ color: item.flag === true ? 'green' : 'red' }"
                  >
                    {{ item.flag }}
                  </td>
                </tr>
              </table>
            </div>

            <div class="col-md-5 mr-4">
              After Search Data
              <table border="1">
                <tr>
                  <th>Value</th>
                  <th>Text</th>
                  <th>Flag</th>
                </tr>
                <tr *ngFor="let item of afterSearch">
                  <td>{{ item.value }}</td>
                  <td>{{ item.text }}</td>
                  <td
                    [ngStyle]="{ color: item.flag === true ? 'green' : 'red' }"
                  >
                    {{ item.flag }}
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-3 mr-4">
              Region
              <table border="1">
                <tr>
                  <th>Value</th>
                  <th>Text</th>
                  <th>Flag</th>
                </tr>
                <tr *ngFor="let item of regions">
                  <td>{{ item.value }}</td>
                  <td>{{ item.text }}</td>
                  <td
                    [ngStyle]="{ color: item.flag === true ? 'green' : 'red' }"
                  >
                    {{ item.flag }}
                  </td>
                </tr>
              </table>
            </div>

            <div class="col-3 mr-2">
              Area
              <table border="1">
                <tr>
                  <th>Value</th>
                  <th>Text</th>
                  <th>Flag</th>
                </tr>
                <tr *ngFor="let item of areas">
                  <td>{{ item.value }}</td>
                  <td>{{ item.text }}</td>
                  <td
                    [ngStyle]="{ color: item.flag === true ? 'green' : 'red' }"
                  >
                    {{ item.flag }}
                  </td>
                </tr>
              </table>
            </div>

            <div class="col-4 mr-2">
              Territory
              <table border="1">
                <tr>
                  <th>Value</th>
                  <th>Text</th>
                  <th>Flag</th>
                </tr>
                <tr *ngFor="let item of territories">
                  <td>{{ item.value }}</td>
                  <td>{{ item.text }}</td>
                  <td
                    [ngStyle]="{ color: item.flag === true ? 'green' : 'red' }"
                  >
                    {{ item.flag }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row border-top pt-3 pb-3 pr-1">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-link mr-2 custom-text-color">
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-primary ml-2 text-uppercase"
            style="background-color: #06597a;"
            (click)="onApply()"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
